@media screen {
    #page-actions button#submit {
        background-color: #fff;
    }
    #form-sparql textarea {
        height: auto;
        width: 100%;
    }
    #form-sparql .inputs label.type-radio,
    #form-sparql .inputs label.type-radio input[type=radio] {
        display: inline-block;
        width: auto;
    }
    .namespaces dl {
        display: flex;
        flex-flow: row wrap;
    }
    .namespaces dt {
        flex-basis: 20%;
        padding: 2px 4px;
    }
    .namespaces dd {
        flex-basis: 80%;
        flex-grow: 1;
        margin: 0;
        padding: 2px 4px;
    }
    .result-html span.type,
    .result-html span.language {
        user-select: none;
    }
}
